<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ValidateStoreReceipt copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ValidateStoreReceipt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ValidateStoreReceiptBundle copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ValidateStoreReceiptBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>validateAS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>282EC48614D2CBB800272FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28616915151876E7001A450A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28616925151876F3001A450A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C3331F14E69B5E003B3F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>757917131274DB8300D249AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76F960486AA7600D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
